/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    led_strip: led_strip {
        compatible = "zmk,ws2812-strip"; // hoạt động tốt với WS2812B & SK6812 mini-e
        label = "LED_STRIP";
        gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>; // thay bằng GPIO thực tế bạn dùng
        chain-length = <27>; // 6 + 21 = 27 LED
        color-order = <RGB>; // Hoặc GRB tuỳ loại LED bạn có
        status = "okay";
    };
};
/ {
    ext_power {
        status = "disabled";
    };
};



// vim: filetype=dts fdm=marker:
